
<div class="row">
  <div class="col-md-10 col-md-offset-1">

  <h1>Listing's details:</h1>
    <%= form_for @listing, remote: true do |f| %>
   

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <br>
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control' %>
      <br>
      <%= f.label :property_type %>
      <%= f.text_field :property_type, class: 'form-control' %>
      <br>
      <%= f.label :description%>
      <%= f.text_area :description, class: 'form-control' %>
      <br>
      <%= f.label :no_of_beds%>
      <%= f.number_field :no_of_beds, class: 'form-control' %>
      <br>
      <%= f.label :price%>
      <%= f.number_field :price, class: 'form-control' %>
      <br>
      <%= f.label :tag_list, "Tags (separated by commas)"%>
      <%= f.text_area :tag_list, class: 'form-control' %>
    
      <br>
      <%= f.label :photo %>
      <%= f.file_field :avatars, multiple: true %>
      <br>
      <%= f.submit "Add", class: "btn btn-primary" %>
      <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
    <% end %>
  </div>
</div>

      <br>
            <br>
      