


<%= image_tag("travel.png")%>

<div class="new_listings">
<h1> Newest listings:</h1>

<%@listings.each do |listing|%>
<div class='container' id='listimg_main_page'>
<table id='t_index' style="width:100%">
	<tr>
		<td> <%if listing.avatars?%>
			<%= image_tag listing.avatars[0].medium.url  %>
			<%else%>
			<div id='empty'></div>
			<%end%></td>

		<td width="35%"><a id='title' href='/listings/<%=listing.id%>'><%=listing.name%></a> <br>
			<i><p><%=listing.description%></i></p><br>
			
		</td>

		<td><div id='vertical'></div></td>

		<td width="15%"> <br><i id='for'>for</i><br> <span class='price'>$<%=listing.price%></span> /night<br>
			<br>
			<p><i>Avg Rating:<br>
			</i><span class='price2'> <%= listing.comments.average(:rating) %></span>/5.0</p></td>
<div id='across'></div>
</table>
</div>

<%end %>
<br>
<%= paginate @listings%>
</div>


