

<h1>Your upcoming reservations:</h1>
<%@reservations.each do |reservation|%>
	<ul>
		<% if reservation.checkin > DateTime.now%>
	Location: <a href='/listings/<%=reservation.listing.id%>'><%=reservation.listing.address%></a><br>
	Check-in date: <%=reservation.checkin%><br>
	Nights: <%=reservation.nights%><br>
	Total price: <%=reservation.listing.price * reservation.nights%>
	
		<%= link_to 'Pay Now', new_payment_path + "?id=" + reservation.id.to_s %>

<br>
  <%= link_to "Cancell reservation", user_reservation_path(current_user, reservation), method: :delete %>
	<%end%>
	<br>
	</ul>
<%end%>


<h1>Your past reservations:</h1>
<i> Don't forget to tell others about your stay at these properties!</i>
<br>
<br>
<%@reservations.each do |reservation|%>
	<ul>
		<% if reservation.checkin < DateTime.now%>
	Location: <a href='/listings/<%=reservation.listing.id%>'><%=reservation.listing.address%></a><br>
	Check-in date: <%=reservation.checkin%><br>
	Nights: <%=reservation.nights%><br>
	Total price: <%=reservation.listing.price * reservation.nights%>
	<%end%>
	<br>
	</ul>
	<%end%>



	