<h1>That's all for your order:</h1>


<%= form_for(@payment) do |f| %>

  <div class="field">
    <%= f.label :checkin %><br>
    <%= @reservation.checkin %><br>
  </div>
  <div class="field">
    <%= f.label :checkout %><br>
    <%= @reservation.checkout %><br>
  </div>
  <div class="field">
    <%= f.hidden_field :reservation_id, value: @reservation.id %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
<div class="field">
  <div id="dropin"></div>
</div>

<script type="text/javascript">
  function setupBT() {
    braintree.setup("<%= @client_token %>", 'dropin', {
      container: 'dropin'
    });
  }

  if (window.addEventListener)
    window.addEventListener("load", setupBT, false);
  else if (window.attachEvent)
    window.attachEvent("onload", setupBT);
  else window.onload = setupBT;

</script>