<div class='container' width="100%">
<h2>Your booking details:</h2>

<table>
  <tr>
  <td width="35%">

  <div class="field">
    <h2>Check-in:</h2>
    <h3><%= @reservation.checkin %></h3><br>
  </div>
</td>

<td width="35%">
  <div class="field">
    <h2>Check-out:</h2>
    <h3><%= @reservation.checkout %></h3><br>
  </div>
</td>


<td>
  <div class="field">
    <h2>Total to pay:</h2>
    <h3>$<%= @reservation.price %></h3><br>
  </div>
</td>
</tr>
</table>
  

  <%= form_tag payments_path do%>
  <div class="field">
    <%= hidden_field_tag(:reservation_id, @reservation.id) %><br>
  </div>
  <div class="field">
  <div id="dropin"></div>
  </div>
  <div class="actions">
    <%= submit_tag "Pay Now" %>
  </div>
</div>
<% end %>


<script type="text/javascript">
  function setupBT() {
    braintree.setup("<%= @client_token %>", 'dropin', {
      container: 'dropin'
    });
  }

  if (window.addEventListener)
    window.addEventListener("load", setupBT, false);
  else if (window.attachEvent)
    window.attachEvent("onload", setupBT);
  else window.onload = setupBT;

</script>